#cloud-config
# run ansible roles from cloud-init

# requisites
ssh_import_id: ${ssh_public_key_user}

apt_upgrade: true
# uncomment to support 18.04
#apt_sources:
#  - source: ppa:ansible/ansible
packages:
  - ansible

write_files:
  - content: |
      {% set ansible_roles = "${ansible_roles}".split(",") %}
      roles:
      {% for ansible_role in ansible_roles %}
      - name: {{ ansible_role }}
        src: ${git_root_repository}/{{ ansible_role }}.git
        scm: git        
      {% endfor %}
    path: /root/.ansible/cloud-init/requirements.j2
  - content: |
      - hosts: localhost
        tasks:
        - name: build ansible-galaxy requirements.yml
          template: src=/root/.ansible/cloud-init/requirements.j2
                    dest=/root/.ansible/cloud-init/requirements.yml
    path: /root/.ansible/cloud-init/build-requirements.yml
  - content: |
      - hosts: localhost
        any_errors_fatal: true
        tasks:
        - name: run ansible_roles: ${ansible_roles}
          include_role:
            name: "{{ role_item }}"
          loop: "{{ '${ansible_roles}'.split(',') }}"
          loop_control:
            loop_var: role_item
    path: /root/.ansible/cloud-init/main.yml
# Ansible variables block begin
  - content: "${ansible_vars}"
    path: /root/.ansible/cloud-init/vars.yml
# Ansible variables block end
runcmd:
  - set -e
  - cd /root

  - export ANSIBLE_PYTHON_INTERPRETER=auto
  - ansible-playbook /root/.ansible/cloud-init/build-requirements.yml -e "@/root/.ansible/cloud-init/vars.yml" --connection=local -i localhost,

  - export MY_GIT_TOKEN=${git_token}
  # hack via sed to prevent unwanted envsubst substitution
  - echo 'echo XMY_GIT_TOKEN' | sed "s/X/$/" > /root/.ansible/cloud-init/.git-askpass
  - chmod +x /root/.ansible/cloud-init/.git-askpass
  - export GIT_ASKPASS=/root/.ansible/cloud-init/.git-askpass
  - ansible-galaxy install -r /root/.ansible/cloud-init/requirements.yml

  - ansible-playbook /root/.ansible/cloud-init/main.yml -e "@/root/.ansible/cloud-init/vars.yml" --connection=local -i localhost,
