#cloud-config
# run ansible roles from cloud-init

# requisites
apt_upgrade: true
# uncomment to support 18.04
#apt_sources:
#  - source: ppa:ansible/ansible
packages:
  - ansible

write_files:
  - content: |
      {% set ansible_roles = "${ansible_roles}".split(",") %}
      roles:
      {% for ansible_role in ansible_roles %}
      - name: {{ ansible_role }}
        src: ${git_root_repository}/{{ ansible_role }}.git
        scm: git        
      {% endfor %}
    path: /var/tmp/ansible/requirements.j2
  - content: |
      - hosts: localhost
        tasks:
        - name: build ansible-galaxy requirements.yml
          template: src=/var/tmp/ansible/requirements.j2
                    dest=/var/tmp/ansible/requirements.yml
    path: /var/tmp/ansible/build-requirements.yml
  - content: |
      - hosts: localhost
        any_errors_fatal: true
        tasks:
        - name: build ansible-galaxy requirements.yml
          include_role:
            name: "{{ role_item }}"
          loop: "{{ '${ansible_roles}'.split(',') }}"
          loop_control:
            loop_var: role_item
    path: /var/tmp/ansible/main.yml

runcmd:
  - set -e
  - cd /root

  - export ANSIBLE_PYTHON_INTERPRETER=auto
  - ansible-playbook /var/tmp/ansible/build-requirements.yml -e "${ansible_vars}" --connection=local -i localhost,

  - export MY_GIT_TOKEN=${git_token}
  # hack via sed needed to prevent unwanted envsubst substitution
  - echo 'echo XMY_GIT_TOKEN' | sed "s/X/$/" > /var/tmp/ansible/.git-askpass
  - chmod +x /var/tmp/ansible/.git-askpass
  - export GIT_ASKPASS=/var/tmp/ansible/.git-askpass
  - ansible-galaxy install -r /var/tmp/ansible/requirements.yml

  - ansible-playbook /var/tmp/ansible/main.yml -e "${ansible_vars}" --connection=local -i localhost,

  - rm -rf /var/tmp/ansible
