# the role and the git repo must share the same name
#
# if a role has a dependency on another role, 
# only the dependent role needs to be listed
#
# we're showing the syntax for multiple roles
#
# required
export ansible_roles=cloudcall.k3s-server,cloudcall.rancher

# role repos must all be drectly under this root
# required
export git_root_repository=https://cloudcall-fr-u@github.com/cloudcall-fr

# variables to apply to the role, in ansible -e format
# optional
# export ansible_vars="rancher_hostname=rancher.example.local"

# support for github personal access tokens: https://github.com/settings/tokens
# optional
# export git_token=token

# overwrite the default multipass ubuntu version
# optional
# export multipass_distro_version=
