# the role and the git repo must share the same name
#
# if a role has a dependency on another role, 
# only the dependent role needs to be listed
#
# we're showing the syntax for multiple roles
#
# required
ansible_roles=cloudcall.k3s-server,cloudcall.rancher

# role repos must all be drectly under this root
# required
git_root_repository=https://cloudcall-fr-u@github.com/cloudcall-fr

# variables to apply to the role
# must be formatted in YAML or JSON
# optional
ansible_vars="
#letsencrypt_email: contact@cloudcall.fr
#rancher_hostname: rancher.securecall.fr
"

# support for github personal access tokens: https://github.com/settings/tokens
# optional
# git_token=token

# overwrite the default multipass ubuntu version
# optional
# multipass_distro_version=

# do not remove
ansible_vars=$(echo "$ansible_vars" | sed -r ':a;N;$!ba;s/\r{0,1}\n/\\n/g')
